Phase 1 requirements

PHASE 1:

        implement a spider (integrated with an indexer) for fetching and indexing webpages

        index 30 pages from http://www.cse.ust.hk

        implement a test program which read data from the jdbm and outputs a plain-text file named spider_result.txt.




        
    You should submit:
        a document containing the design of the jdbm database scheme of the indexer. All supporting databases should be defined, for example, forward and inverted indexes, mapping tables for URL <=> page ID and word <=> word ID conversion. The jdbm database schema depends on the functions implemented. You should include an explanation on your design.

        the source codes of the spider and the test program
        a readme.txt file containing the instructions to build the spider and the test program, and how to execute them.

        the db file which contains the indexed 30 pages starting from http://www.cse.ust.hk/

        spider_result.txt which is the output of test program 

    Zip the files and submit via CASS system. The assignment name is Phase1.

